<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Joconde{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets
            '@JocondeLabBundle/Resources/public/css/jquery-ui.css'
            '@JocondeLabBundle/Resources/public/css/component.css'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% block stylesheets %}
            {% stylesheets
                'bundles/jocondelab/css/style.sass'
                filter="cssrewrite,sass" output='css/style.css' %}
                   <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body {% block onload %}{% endblock %} >
        <div class="container">
            <div class="mp-pusher" id="mp-pusher">
                <nav id="mp-menu" class="mp-menu">
                    <div class="mp-level">
                        <p>MENU</p>
                        <ul>
                            <li><a href="{{path('joconde_lab_homepage')}}"><i class="glyphicon glyphicon-search"></i>NOUVELLE RECHERCHE</a></li>
                            <li><a href="{{path('favorite_notice')}}"><i class="glyphicon glyphicon-eye-open"></i>A VOIR PLUS TARD</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i>A PROPOS</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="scroller">
                    <div class="header">
                        <a href="#" id="trigger"><i class="glyphicon glyphicon-align-justify myGlyphicon"></i></a>
                        <p class="title-page">{% block search %}{% endblock %}</p>
                    </div>
                    <div class="page">
                        {% block body %}{% endblock %}
                    </div>
                    {% block hoverNotice %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% javascripts
            'jquery/jquery.js'
            '@JocondeLabBundle/Resources/public/js/jquery-ui.js'
            '@JocondeLabBundle/Resources/public/js/modernizr.custom.js'
            '@JocondeLabBundle/Resources/public/js/classie.js'
            '@JocondeLabBundle/Resources/public/js/mlpushmenu.js'
            '@JocondeLabBundle/Resources/public/js/masonry.js'
            '@JocondeLabBundle/Resources/public/js/imageLoad.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
        <script>
            new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
        </script>
    </body>
</html>