<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@JocondeLabBundle/Resources/public/css/jquery-ui.css'
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
            {% stylesheets
                'bundles/jocondelab/css/list.sass'
                filter="sass,cssrewrite" output='css/style.css' %}
                   <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta charset="UTF-8">
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% javascripts
            'jquery/jquery.js'
            '@JocondeLabBundle/Resources/public/js/jquery-ui.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>