<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Joconde{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/jocondelab/images/favicon.png') }}" />
        {% stylesheets
            '@JocondeLabBundle/Resources/public/css/jquery-ui.css'
            '@JocondeLabBundle/Resources/public/css/component.css'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% block stylesheets %}
            {% stylesheets
                'bundles/jocondelab/css/style.sass'
                filter="cssrewrite,sass" output='css/style.css' %}
                   <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        {% javascripts
            'jquery/jquery.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            function resize_canvas(){
                var $canvas = $('.myCanvas');
                var loaderImg = $('.loaderImg');

                var width = window.innerWidth;
                var height = window.innerHeight;

                var left = (window.innerWidth/2)-(loaderImg.width()/2);
                var top = (window.innerHeight/2)-(loaderImg.height()/2);

                $canvas.css("width", width+"px");
                $canvas.css("height", height+"px");

                loaderImg.css("left", left+"px");
                loaderImg.css("top", top+"px");

                var drop = document.querySelector(".myCanvas" );
                var context = drop.getContext('2d');

                drop.width = width;
                drop.height = height;

                context.beginPath();
                context.arc((window.innerWidth/2),(window.innerHeight/2),150 ,0,Math.PI*2,false);
                context.strokeStyle = "#ff5572";
                context.fillStyle = "#FFF";
                context.fill();
                context.stroke();
            }
        </script>
    </head>
    <body onresize="resize_canvas()" >
        <div class="container">
            <div class="mp-pusher" id="mp-pusher">
                <nav id="mp-menu" class="mp-menu">
                    <div class="mp-level">
                        <p>MENU</p>
                        <ul>
                            <li>
                                <a href="{{path('joconde_lab_homepage')}}" class="menu-newsearch">
                                    <i class="picto_newrecherche"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{path('favorite_notice')}}" class="menu-selection">
                                    <i class="picto_selection"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu-apropos">
                                    <i class="picto_apropos"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="scroller">
                    <div class="header">
                        <a href="#" id="trigger">
                            <i class="picto_menu"></i>
                        </a>
                        <p class="title-page">{% block search %}{% endblock %}</p>
                        {% block logo %}<img src="{{ asset('bundles/jocondelab/images/logo1.png') }}" alt="logo" height="50px"/>{% endblock %}
                    </div>
                    <div class="page">
                        {% block body %}{% endblock %}
                    </div>
                    {% block hoverNotice %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="loader">
            <canvas class="myCanvas">
            </canvas>
            <div class="loaderImg">
                <img src="{{ asset('bundles/jocondelab/images/loader.gif') }}" alt="loader"/>
                <p>Chargement en cours</p>
            </div>
        </div>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% javascripts
            '@JocondeLabBundle/Resources/public/js/jquery-ui.js'
            '@JocondeLabBundle/Resources/public/js/modernizr.custom.js'
            '@JocondeLabBundle/Resources/public/js/classie.js'
            '@JocondeLabBundle/Resources/public/js/mlpushmenu.js'
            '@JocondeLabBundle/Resources/public/js/masonry.js'
            '@JocondeLabBundle/Resources/public/js/imageLoad.js'
            '@JocondeLabBundle/Resources/public/js/main.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>