{% if notices %}
    {% if Favoris is defined %}{% else %}
        <div class="item question">
            {% set newQuestion = question | split(',') %}
            {% for simpleQuestion in newQuestion | slice(0,1)%}
                <p>{{simpleQuestion}} ?</p>
            {% endfor %}
            <div class="question-button">
                <button class="btn-question" value="{% for simpleQuestion in newQuestion | slice(1,2)%}{{simpleQuestion}},{% endfor %}yes">oui</button>
                <button class="btn-question" value="{% for simpleQuestion in newQuestion | slice(2,3)%}{{simpleQuestion}},{% endfor %}no">non</button>
                <button class="btn-question" value="{% for simpleQuestion in newQuestion | slice(2,3)%}{{simpleQuestion}},{% endfor %}none">ne sais pas</button>
            </div>
        </div>
    {% endif %}
{% endif %}

{% for notice in notices %}
    <div class="item">
        <div>
            {% for image in notice.noticeImage|slice(0,1) %}
                <img src="http://www.culture.gouv.fr/Wave/image/joconde{{image.relativeUrl}}" alt="{{notice.id}}" />
            {% endfor %}
        </div>
        <div class="item-hover">
            <p>{{notice.titr | lower | truncate(10, true, ' ...') }}</p>
            {% set authors = notice.autr | split(';') %}
            {% for author in authors | slice(0,1)%}
                {% set aut = author | split('(') %}
                {% for autdef in aut | slice(0,1)%}
                    <p>{{ autdef | lower }}</p>
                {% endfor %}
            {% endfor %}
            <hr />
            <div class="item-hover-bottom">
                <button class="btn-favorite see" value="{{notice.id}}">
                    <i class="picto_oeil"></i>
                </button>
                {% if Favoris is defined %}{% else %}
                    <button class="btn-favorite session" value="{{notice.id}}">
                        <i class="picto_ajouter"></i>
                    </button>
                {% endif %}
                {% set domns = notice.domn | split(';') %}
                {% for domn in domns | slice(0,1)%}
                    {% set dom = domn | split('(') %}
                    {% for domdomdef in dom | slice(0,1)%}
                        <span class="item-domain">{{ domdomdef }}</span>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <p class="nothing">
        {% if Favoris is defined %}
            aucune notice en favoris
        {% else %}
            aucun résultat
        {% endif %}
    </p>
{% endfor %}