{% extends '::base.html.twig' %}

{% block body %}
    <form method="POST">
    {#     {{form_widget(form)}}
    {{form_rest(form)}} #}

    <!-- form errors -->
        {{ form_errors(form) }}

        {{ form_errors(form.search) }}
        {{ form_label(form.search) }}
        {{ form_widget(form.search, { 'attr': { 'data-url': path('search_autocomplete_ajax'), 'class': 'input-medium search-query search' } } ) }}

        {{ form_rest(form) }}

        <input type="submit" value="Search"/>
    </form>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            // SearchEngineBundle_ajax
            console.log("toto");
            var attr = $('.search').attr('data-url');
            $(".search").autocomplete({
                minLength: 3,
                source: attr,
            });
        });
    </script>
{% endblock %}