{% extends '::base.html.twig' %}

{% block title %}Joconde{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@JocondeLabBundle/Resources/Public/search.sass'
        filter="cssrewrite,sass" output='css/search.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <form method="POST">
        {{ form_errors(form.search) }}
        
        {{ form_widget(form.search, { 'attr': {'class': 'input-medium search-query search', 'placeholder' : 'VOTRE RECHERCHE' } } ) }}

        {{ form_rest(form) }}

        <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
        
    </form>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@JocondeLabBundle/Resources/public/js/extends-autocomplete.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}