{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@JocondeLabBundle/Resources/Public/css/list.sass'
        filter="cssrewrite,sass" output='css/list.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block search %}
    {% if Favoris is defined %}
    {% else %}
        <a href="#" value="0">{{search|join(" ")}}</a>
    {% endif %}
{% endblock %}

{% block logo %}
    {% if Favoris is defined %}
         <img src="{{ asset('bundles/jocondelab/images/logo1.png') }}" alt="logo" height="50px"/>
    {% else %}
        <img src="{{ asset('bundles/jocondelab/images/logo2.png') }}" alt="logo" height="50px"/>
    {% endif %}
{% endblock %}

{% block body %}
    {% if Favoris is defined %}
        <div class="page-title">
            <h3>votre sélection</h3>
        </div>
    {% else %}
    {% endif %}
        <div class="margin-container">
            <div class="page-container">
                <div class="page-list">
                    {% include 'JocondeLabBundle:Notice:ajax.list.html.twig' %}
                </div>
            </div>
        </div>
{% endblock %}

{% block hoverNotice %}
    {% if Favoris is defined %}{% else %}
        {# <div class="notice-hover"></div> #}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@JocondeLabBundle/Resources/public/js/session-favorite.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
