{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'bundles/jocondelab/css/list.sass'
        filter="cssrewrite,sass" output='css/list.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    <script>
        
    </script>
{% endblock %}

{% block onload %}{% endblock %}

{% block body %}
<div class="page-list">
    {# <ul> #}
    <div class="item question">
        <p>EST-CE UNE PEIN-TURE ?</p>
    </div>
    {% for notice in notices %}
    <div class="item">
        <a href="{{path('notice_id', {'id': notice.id}) }}">
            {% for image in notice.noticeImage|slice(0,1) %}
                <img src="http://www.culture.gouv.fr/Wave/image/joconde{{image.relativeUrl}}" alt="{{notice.id}}" />
            {% endfor %}
        </a>
{#         <div class="item-hover">

        </div> #}
        {# <div>
            id : {{notice.id}}<br />
            ref : {{notice.ref}}<br />
            auteur : {{notice.autr}}<br />
            titre : {{notice.titr}}<br />
            <a href="{{path('notice_id', {'id': notice.id}) }}">Go to notice {{notice.id}}</a><br /><br />
            <button class="btn-favorite" value="{{notice.id}}">Add to favorite</button>
        </div> #}
        </div>
    {% else %}
        il n'y a pas de notices
    {% endfor %}
</div>
{% endblock %}

{% block hoverNotice %}
    <div class="notice-hover">
    </div>
{% endblock %}

{% block javascripts %}
        {% javascripts
            '@JocondeLabBundle/Resources/public/js/session-favorite.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
{% endblock %}
